body {
    background-color: #0a0a23;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .flex{
    display:flex;
    justify-content: center;
    align-items:center
  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 20px;
    height:50vh;
    font-size:2vw
  }
  .gratitude{
    position: inherit;
    background-image: linear-gradient(#fecc4c, #ffac33);
    color:#000;
  }
  #game {
    max-width:100vw;
    max-height: 80vh;
    height:80vh;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
    height:8vh;
    gap:4vw;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;

    
  }