.container{
    height:100vh;
    background: #538392;
    display: flex;
    flex-direction: column;
    gap:2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    text-align: center;
    font-size:1vw;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium'
}
main{

    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:0.5vw;
    background:  #a99998;
    padding:2vh 0.5vw;
    border-radius:1vw

}

main button{
    height:20vh;
    width:15vw;
    background:#04d395;
    border-radius:1vw;
    font-size:2vw;
    color:black;
}
footer{
    height:10vh;
    gap:2vw;
    position: absolute;
    bottom:0%;
    width:90vw;
    left:3%;
    color:#FDFFE2;
    text-align: center;
    padding:1vw;
}
footer .score{
    display: flex;
    justify-content: space-between;
    gap:2vw;
    height: 100%;
    font-size: 1.2vw;
    
}
.score .Xscore ,.Oscore{
    background: hsl(165, 96%, 45%);
    color:#1a0606;
    width:20vw;
    height:8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}
#message img{
    width:3vw;
}